<%= render 'user_icon' %>
<div class="col-md-8">
  <h2><%= t('view.followings') %></h2>
  <div class="userlist">
    <ul>
      <% @followings.each do |u| %>
        <%= render 'user', user: u %>
      <% end %>
    </ul>
  </div>
</div>
