<%= form_for(@micropost) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_area :content, placeholder: t('view.composenew') %>
    </div>
    <%= f.submit t('view.post'), class: "btn btn-primary" %>
<% end %>