<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Microposts", "#", id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><%= lonk_to "Home", '#' %></li>
                <li><%= lonk_to "Help", '#' %></li>
                <li><%= lonk_to "Log in", '#' %></li>
            </ul>
        </nav>
    </div>
</header>